body {
    background: url("assets\\todo-bg.png");
    background-size: 1700px;
    min-height: 100vh;
  }

.logo img{
  position: absolute;
  width: 187.41px;
  height: 187.41px;
  left: 41px;
  top: 42px;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 266px;
  height: 70px;
  left: 45%;
  top: 64px;
  background: #333;
  border-radius: 10px;
}
.navigation ul{
  position: relative;
  display: flex;
  width: 250px;  
  margin-top: 45;
  margin-bottom: 1rem;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: 75px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}
.navigation ul li:hover a.icon{
  color: rgba(255, 255, 255, 1);
}
.navigation ul li.active a .icon{
  transform: translateY(-8px);
  color: yellow;
}
.navigation ul li a .text{
  position: absolute;
  opacity: 0; 
  font-weight: bolder;
  font-size: 0.3em;
  color: #222327;
  transition: 0.5s;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  transform: translateY(0px);
}
.navigation ul li.active a .text{
  transform: translateY(13px);
  opacity: 1;
}
.indicator{
  position: absolute;
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.indicator::before{
  content: '';
  position: absolute;
  bottom: 13px;
  width: 80%;
  height: 14px;
  background: yellow;
  border-radius: 10px;
}
.indicator::after{
  content: '';
  position: absolute;
  top: -26px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background: #333;
  box-shadow: 0 0 0 2px yellow,
  50px 50px yellow,
  40px 0 yellow,
  0 40px yellow;
  transform: rotate(45deg);
  animation: animate 2s ease-in-out infinite;
}
@keyframes animate{
  0%,100%
  {
      transform: rotate(35deg);
  }
  50%
  {
      transform: rotate(55deg);
  }
}
.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}




::selection {
    background: transparent;
  }
h1{
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-shadow: -2px 2px 0 black,
                  2px 2px 0 black,
                  2px -2px 0 black,
                  -2px -2px 0 black;
                  
}
.icon-pink{
    color: palevioletred;
}
.container {
    position: relative;
    height: 32pc;
    width: 30pc;
    margin: auto;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 55px black;
  }
  .addTxt {
    position: absolute;
    height: 5px;
    width: 70%;
    margin: auto;
    top: 34px;
    right: 0;
    left: 0;
    outline: none;
    border: 1px solid #bec0c4;
    border-radius: 20px;
    padding: 23px;
    padding-right: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  ::placeholder{
    color: transparent;
  }
  .label{
    position: absolute;
    top: 43px;
    left: 86px;
    padding: 0 4px;
    background: transparent;
    color: #bec0c4;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  .addTxt:focus + .label {
    top: 12px;
    left: 87px;
    z-index: 10;
    font-size: 16px;
    font-weight: 600;
    color: yellow;
  }
  .addTxt:focus {
    border: 2px solid rgb(120, 43, 192);
  }
  .addTxt:not(:placeholder-shown)+ .label {
    top: 12px;
    left: 87px;
    z-index: 10;
    font-size: 16px;
    font-weight: 600;
  }
  .addBtn {
    position: absolute;
    height: 28px;
    width: 100px;
    margin: auto;
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
    top: 15px;
    right: 68px;
    cursor: pointer;
    font-size: 30px;
  }
  .addBtn i {
    height: 14px;
    width: 20px;
    position: absolute;
    margin: auto;
    top: 34px;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .todo-list {
    position: absolute;
    height: 75%;
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .todo-list::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
  }
  .element {
    position: relative;
    height: fit-content;
    width: 70%;
    right:-8px;
    text-align: left;
    transition: 0.2s;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    z-index: 4;
    border-radius: 7px;
    padding-right: 80px;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .element .bi-check-lg {
    position: absolute;
    margin: auto;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 60px;
    float: right;
    z-index: +5;
    font-size: 25px;
  }
  .element .bi-trash3 {
    position: absolute;
    margin: auto;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 20px;
    float: right;
    z-index: +5;
    font-size: 23px;
  }
  .element:hover {
    transform: scale(1.1);
  }

  /* FOOTER */

  footer
{
    position: relative;
    width: 100%;
    background: #3586ff;
    margin-top: 300px;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu
{
    list-style: none;
}
footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover
{
    transform: translate(-10px);
}
footer .menu li a
{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75; 
}
footer .menu li a:hover
{
    opacity: 1;
}
footer p
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave
{
    position: absolute;
    top: -100px;
    Left: 0;
    width: 100%;
    height: 100px;
    background: url("assets\\wave.png");
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5s;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}


footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
